.khan__buy-link {
  margin-left: 20px;

  color: #2F80ED;
  font-size: 30px;
  line-height: 42px;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.6;
  transition: opacity 0.15s ease-out;
}
